<h1>Agregar Producto</h1>
<form id="productoForm">
  <input type="text" id="productoInput" placeholder="Producto">
  <button type="submit">Guardar</button>
</form>
<h2>Productos</h2>
<ul id="productos"></ul>
